body {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 113, 66);
}
input {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-right: 15px;
}
label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-left: 15px;
}
form {
    background-color: rgb(230, 89, 38);
    padding: 100px,200px,100px,200px;
    border-radius: 10px;
}
button {
    width: 65px;
    height: 40px;
    margin-left: 110px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: orangered;
    border: none;
}