body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
}

h1 {
  color: red;
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 900px;
  gap: 10px;
}

.card {
  background-color: #ccc;
  color: navy;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    height: 100px;
  }
}
