body {
    background-color: rgb(42, 40, 40);
    display: flex;
    
}
label {
    color: white;
}
#div1 {
    display: flex;
    justify-content: center;
}
button {
    background-color: rgb(58, 227, 58);
    width: 200px;
    cursor: pointer;
    
}